<div class="container">
  <div class="banner">
    <div class="banner-img">
      <%= image_tag "reading-nerimaru.jpg"  %>
    </div>
    <div class="banner-header">
      <h1>Hidden Nerima</h1>
    </div>
  </div>
  <div class="navbar-dropdown">
    <ul>
      <li><%= link_to "Home", "#", class: "index-nav-link" %></li>
      <li class="dropdown"><%= link_to '#', class:"dropbtn" do%>
          Foods <%= image_tag('arrow-drop-down-rounded.svg') %>
        <% end %>
        <div class="dropdown-content foods">
          <%= link_to "Japanese", "#"%>
          <%= link_to "Western", "#"%>
          <%= link_to "Korean", "#"%>
        </div>
      </li>
      <li class="dropdown"><%= link_to '#', class:"dropbtn" do%>
          Experiences <%= image_tag('arrow-drop-down-rounded.svg') %>
        <% end %>
        <div class="dropdown-content experiences">
          <%= link_to "Shrines", "#"%>
          <%= link_to "Parks", "#"%>
          <%= link_to "Museums", "#"%>
        </div>
      </li>
      <li><%= link_to "My Page", "#", class: "index-nav-link" %></li>
    </ul>
  </div>
  <h2 class="small-header">Popular Attractions</h2>
  <div class="cards my-relative">
    <% @spots.first(50).each do |spot| %>
      <div class="cta">
        <%= cl_image_tag spot.photos.first.key %>
        <div class="text">
          <h2><%= spot.name%></h2>
          <p><%= spot.description %></p>
        </div>
        <%= link_to '', spot_path(spot), class: "my-overlay" %>
      </div>
    <% end %>
  </div>
  <br>
  <br>
</div>
