<div class="container">
  <div class="banner">
    <div class="banner-img">
      <%= image_tag "reading-nerimaru.jpg"  %>
    </div>
    <div class="banner-header">
      <h1>Hidden Nerima</h1>
    </div>
  </div>
  <div class="navbar-dropdown">
    <ul>
      <li><%= link_to "Home", spots_path, class: "index-nav-link" %></li>
      <li class="dropdown"><%= link_to '#', class:"dropbtn" do%>
          Foods <%= image_tag('arrow-drop-down-rounded.svg') %>
        <% end %>
        <div class="dropdown-content foods">
          <%= link_to "Japanese", spots_path(category: 'food', sub_category: "%japanese%")%>
          <%= link_to "Western", spots_path(category: 'food', sub_category: "%Western%")%>
          <%= link_to "Korean", spots_path(category: 'food', sub_category: "%Korean%")%>
          <%= link_to "Bakery", spots_path(category: 'food', sub_category: "%bakery%")%>
        </div>
      </li>
      <li class="dropdown"><%= link_to '#', class:"dropbtn" do%>
          Experiences <%= image_tag('arrow-drop-down-rounded.svg') %>
        <% end %>
        <div class="dropdown-content experiences">
          <%= link_to "Shrines", spots_path(category: 'experience', sub_category: "%shrine%")%>
          <%= link_to "Parks", spots_path(category: 'experience', sub_category: "%park%")%>
          <%= link_to "Museums", spots_path(category: 'experience', sub_category: "%museum%")%>
        </div>
      </li>
      <li class="dropdown"><%= link_to '#', class:"dropbtn" do%>
          My Page <%= image_tag('arrow-drop-down-rounded.svg') %>
        <% end %>
        <div class="dropdown-content my-page">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
        </div>
      </li>
      <li> 
        <div class="search-container">
          <form action="/spots">
            <div>
              <input type="radio" id="food" name="category" value="food" />
              <label for="food">Food</label>
              <input type="radio" id="experience" name="category" value="experience" />
              <label for="experience">Experience</label>
            </div>
            <input class="search" type="text" placeholder="Search.." name="sub_category">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <h2 class="small-header">Popular Attractions</h2>
  <div class="cards my-relative">
    <% @spots.first(50).each do |spot| %>
      <div class="cta">
        <%= cl_image_tag spot.photos.first.key %>
        <div class="text">
          <h2><%= spot.name%></h2>
          <p><%= spot.description %></p>
        </div>
        <%= link_to '', spot_path(spot), class: "my-overlay" %>
      </div>
    <% end %>
  </div>
  <br>
  <br>
</div>
