<div class="banner">
  <div class="banner-img">
    <%= image_tag "reading-nerimaru.jpg"  %>
  </div>
  <div class="banner-header">
    <h1>Hidden Nerima</h1>
  </div>
</div>
<div class="navbar-dropdown">
  <ul>
    <li><%= link_to "Home", "#", class: "index-nav-link" %></li>
    <li class="dropdown"><%= link_to "Food", "#", class: "dropbtn" %>
      <div class="dropdown-content foods">
        <%= link_to "Japanese", "#"%>
        <%= link_to "Western", "#"%>
        <%= link_to "Korean", "#"%>
      </div>
    </li>
    <li class="dropdown"><%= link_to "Experiences", "#", class: "dropbtn" %>
      <div class="dropdown-content experiences">
        <%= link_to "Shrines", "#"%>
        <%= link_to "Parks", "#"%>
        <%= link_to "Museums", "#"%>
      </div>
    </li>
    <li><%= link_to "My Page", "#", class: "index-nav-link" %></li>
  </ul>
</div>
