  <%= render "shared/navbar" %>
<div class="container">
  <div class="headers-icons">
    <div class ="headers">
      <h2><%= @spot.name%></h2>
      <h4><%= @spot.description %></h4>
    </div>
    <div class="icons">
      <h2>Add icons here</h2>
      <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_URL'] %>"></div>
    </div>
  </div>
  <div class= "photos">
    <% @spot.photos.each do |photo|%>
      <%= cl_image_tag photo.key %>
    <% end %>
  </div>
  <div data-controller="insert-in-list">
    <% if true #@spot.user != current_user %>
      <%= render 'shared/new_reviews' %>
    <% end %>
    <% if @reviews %>
      <div data-insert-in-list-target="items">
        <% @reviews.each do |review| %>
          <%= render 'spots/review', review: review %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
