  <%= render "shared/navbar" %>
<div class="container">
  <div class="headers-icons">
    <div class ="headers">
      <h2><%= @spot.name%></h2>
      <h4><%= @spot.description %></h4>
    </div>
    <div class="icons">
      <h2>Add icons here</h2>
    </div>
  </div>
  <div class= "photos" data-controller="lightbox">
    <% @spot.photos.each do |photo| %>
      <%= link_to url_for(photo) do %>
        <%= cl_image_tag photo.key %>
      <% end %>
    <% end %>
  </div>
</div>
