  <%= render "shared/navbar" %>
<div class="container">
  <div class="headers-icons">
    <div class ="headers">
      <h2><%= @spot.name%></h2>
      <h4><%= @spot.description %></h4>
      <div class= "photos">
        <div id="carouselExampleIndicators<%= @spot.id %>" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators<%= @spot.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <% if @spot.photos.count > 1 %>
              <% (@spot.photos.count -  1).times do |i| %>
                <button type="button" data-bs-target="#carouselExampleIndicators<%= @spot.id %>" data-bs-slide-to="<%=i + 1%>" aria-label="Slide <%=i + 1%>"></button>
              <% end %>
            <% end %>
          </div>
          <div class="carousel-inner  h-100">
            <% @spot.photos.each_with_index do |photo, index| %>
              <div class="carousel-item  h-100 <%= "active" if index == 0 %>">
                <%= cl_image_tag photo.key, class:"d-block photo-width", alt:"..." %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= @spot.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= @spot.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="icons-map">
      <div class="icons" data-controller = "icons">
        <div class="d-flex star-icon">
          <% if @average_rating.nil?%>
            No Rating
          <% else %>
            <%= @average_rating %>/5
          <% end %>
          <i class="fa-solid fa-star" style="color: #ff6c0a;"></i>
        </div>
        <div class=".d-flex add-remove-bookmark">
          <% if @bookmark_present %>
            <%= render 'bookmarks/delete', bookmark: @bookmark %>
            Remove bookmark
          <% else %>
            <%= render 'bookmarks/new', spot: @spot, bookmark: @bookmark %>
            Add bookmark
          <% end %>
        </div>
        <%# <i class="fa-regular fa-bookmark" id="bookmark" create_form_target= "icon",
    action= "submit->icons#toggleclass"></i> %>
      </div>
      <div style="width: 100%; height: 452px;"
  data-controller="map"data-controller="disable-button"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_URL'] %>"></div>
    </div>
  </div>
  <div data-controller="insert-in-list" class="review-box">
    <% if @spot.user != current_user %>
      <%= render 'shared/new_reviews' %>
    <% end %>
    <% if @reviews %>
      <div data-insert-in-list-target="items" class="comments">
        <% @reviews.each do |review| %>
          <%= render 'spots/review', review: review %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
