<div class="container d-flex flex-column align-items-center mt-3">
  <div class="d-flex justify-content-center shadow bg-white p-3 mb-3">
    <div class="profile-picture">
      <%= image_tag 'default_images/profile_picture.png', alt: "Profile picture of a person", class: "profile-picture-size" %>
    </div>
    <div class="name-info d-flex align-items-center justify-content-center flex-column" style= "margin-left:8%">
      <h2>
        <%= @user.full_name %>
      </h2>
      <h4 class="profile-description"><% if @user.description %>
          <%= @user.description %>
        <% end %>
      </h4>
    </div>
  </div>
  <% if @my_spots.length > 0 %>
    <%= render 'spots/spot_carousel', spots: @my_spots %>
  <% end %>
  <% if @my_bookmarks.length > 0  %>
    <%= render 'spots/spot_carousel', spots: @my_bookmarks %>
  <% end %>
</div>
