<!DOCTYPE html>
<html>
  <head>
    <title>HiddenNerima</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="path/to/lightbox.css" rel="stylesheet" />
    <script src="path/to/dist/js/lightbox-plus-jquery.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
